@import url('https://fonts.googleapis.com/css2?family=Oxygen:wght@400;700&family=Poppins:ital,wght@0,400;0,700;1,400&family=Roboto:ital,wght@0,400;0,700;1,400&display=swap');

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    color: rgb(83, 83, 83);
}

/*****************************************
*************** HEADER *******************
*****************************************/

.main-header {
    background: rgb(177, 209, 228);
    position: relative;
}

.logo-container {
    text-align: center;
}
.search-bar{
    text-align: center;
    font-weight: bold;
    /* border: 3px solid red; */
}

.search-bar__label{
    font-weight: 200;
}
.search-bar__search {
    border-radius: 4px;
}

.search-bar__submit {
    font-weight: 200;
    border-radius: 4px;
    width: 2em;
}

.main-nav__item {
    list-style: none;
    text-align: center;
}

.main-nav__link {
    /* border: 3px solid blue; */
    display: block;
    color: #37474F;
    font-weight: lighter;
    text-decoration: none;
    transition-duration: .5s;
}

.main-nav__link:hover {
    transform: scale(1.1);
    transition-duration: .5s;
}

#light-theme,
#dark-theme {
    background: #d1948b;
    font-weight: 100;
}

header::after {
    content: 'Light Theme';
    font-family: 'Roboto', sans-serif;
    font-style: italic;
    color: whitesmoke;
    opacity: .7;
    font-size: 30px;
    position: absolute;
    top: 0;
}


/*****************************************
************** INDEX-ARTICLE *************
*****************************************/

.first-article__tittle,
.second-article__tittle,
.first-article__section-tittle,
.second-article__section-tittle {
    text-align: center;
    margin: .5em 0 .5em;
}

.second-article__tittle-container,
.second-article__section {
    margin: 0 .2em 0;
    padding: 0 .3em 0;
    border-radius: 5px;
    background: #eafdf9;
}

.first-article__tittle-container,
.first-article__section {
    margin: 0 .2em 0;
    padding: 0 .3em 0;
    border-radius: 5px;
    background: rgb(230, 241, 253);
}


/*****************************************
************** FOOTER ********************
*****************************************/

.main-footer {
    background: #738892;
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 1em;
    margin-top: .5em;
    padding: .3em 0;
}

.main-footer__signature,
.main-footer__us,
.main-footer__mail,
.main-footer__phone {
    color: rgb(228, 228, 228);
    text-decoration: none;
}

.main-footer__image {
    width: 48px;
    display: block;
    align-self: center;
}


/*****************************************
*********** MEDIA QUERY ******************
*****************************************/

@media (min-width: 770px) {
    
    .main-header {
        display: flex;
        position: relative;
    }
    
    .search-bar {
        align-self: flex-start;
        position: absolute;
        left: 38%;
        right: 10%;
        top: 2em;
    }
    .main-nav {
        align-self: flex-end;
        position: absolute;
        left: 38%;
        right: 10%;
        bottom: 2em;
    }
    
    .main-nav__list {
        display: flex;
        justify-content: space-between;
    }

    .first-article,
    .second-article {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
    
    .first-article__tittle-container,
    .first-article__section,
    .second-article__tittle-container,
    .second-article__section {
        margin: .5em;
        padding: .4em;
    }

    header::after {
        left: 5em;
    }
    
}

@media (min-width: 1190px){
    .first-article,
    .second-article {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
    }

}



/*****************************************
*********** GALERIA **********************
*****************************************/

.galery-tittle {
    text-align: center;
}

.image-container {
    display: flex;
    flex-direction: column;
}
.image-container > * {
    margin: 0 .3em .3em;
    border-radius: 10px;
    cursor: pointer;
    transition-duration: .8s;
}

.image-container > *:hover {
    transform: scale(.9);
    transition-duration: .8s;
}


/*****************************************
*****************  US ********************
*****************************************/

.us-article__container,
.us-article__mision-container,
.learn-article {
    margin: .3em;
    padding: .2em;
    border-radius: 5px;
}

.us-article__container {
    background: rgb(214, 222, 233);

}
.us-article__mision-container {
    background: rgb(219, 210, 189);
}

.learn-article {
    background: #ceebe5;
    cursor: pointer;
    transition-duration: .7s;

}

.learn-article:hover {
    transform: scale(.8);
    transition-duration: .7s;
}

.us-article__tittle,
.us-article__mision,
.learn-article__tittle {
    text-align: center;
}

.image-one__container,
.image-two__container,
.image-three__container {
    display: none;

}

/*****************************************
***************** MEDIA QUERY US *********
*****************************************/

@media (min-width: 770px) {
    .us-article {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (min-width: 900px) {
    .image-one__container,
    .image-two__container {
        display: block;    
        margin: .3em 0 0;
    }

    .image {
        width: 100%;
        border-radius: 5px;
    }
    
    .us-article {
        width: 60%;
        position: relative;
        left: 20%;
        right: 20%;
    }
}

@media (min-width: 1500px) {
    .us-article {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
    }
}



/*****************************************
***************** FORM *******************
*****************************************/
.form-suscribe {
    background: rgb(234, 252, 252);
}
.form-container {
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 2em;
}

.form-suscribe__tittle {
    text-align: center;
    margin-bottom: 1em;
}

.form-container__name-input,
.form-container__last-input,
.form-container__phone-input,
.form-container__mail-input,
.form-container__comment-text {
    /* border: 4px solid red; */
    border-radius: 5px;
    resize: none;
}

.form-container__validate-submit,
.form-container__validate-reset {
    display: inline-block;
    height: 3em;
    width: 5em;
    margin-left: 1em;
    margin-bottom: 1em;
    border-radius: 5px;
    background-color: rgb(203, 231, 231);
    cursor: pointer;
    transition-duration: .5s;
}

.form-container__validate-submit:hover,
.form-container__validate-reset:hover {
    transform: scale(1.1);
    transition-duration: .5s;
}